<% layout("/layouts/boilerplate")%>
<body>
    <h3>All listing</h3>
    <!-- <form method="GET" action="/listings/new">
    <button>create new listing</button>
    </form> -->

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
         <%for(let listing of allListings){%>
  <a href ="/listings/<%= listing._id%>" class="listing-links">          
<div class="card" >
  <img src="<%= listing.image.url%>" class="card-img-top" alt="..." style="height:20rem" />
  <div class="card-img-overlay">Wanderlust
    <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
  </div>
  <div class="card-body">
    <p class="card-text">
       <b><%=listing.title%><br></b> 
       &#8377; <%=listing.price.toLocaleString("en-IN")%>/night
    </p>
  </div>
</div>
   <% }%></a>
 </div>
 
</body>


